.container {
  background-color: #343333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 28px;
  width: 100%;
  gap: 20px;
}

.heading{
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 63px;
  font-style: italic;
  text-align: left;
  width: 80%;
}

.highlight{
  color: #2cc5d9;
}
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.chart1,
.chart2 {
  flex: 1 1 45%;
  max-width: 45%;
  text-align: center;
}

.chart1 img {
  height: auto;
}

@media (max-width: 768px) {
  .charts {
    flex-direction: column; 
    align-items: center; 
    gap: 40px; 
  }

  .chart1,
  .chart2 {
    max-width: 100%; 
    text-align: center;
  }
}

@media (max-width: 475px) {
  .charts {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chart1 img{
    width: 90%;
    margin: auto;
  }

  .heading{
    font-size: 28px;
  }
}
