.industries-container {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 70px;
    padding-bottom: 70px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-left {
    text-align: left;
  }
  
  .industries-grid {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-6"
      "item-7 item-8 item-9";
    gap: 1rem;
    width: 100%;
  }
  
  .industry-item {
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .industry-item:hover {
    transform: scale(1.05);
  }
  
  /* Responsive Media Queries */
  @media (max-width: 1024px) {
    .industries-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "item-1 item-2"
        "item-3 item-4"
        "item-5 item-6"
        "item-7 item-8";
    }
  }
  
  @media (max-width: 300px) {
    .industries-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        "item-5"
        "item-6"
        "item-7"
        "item-8";
    }
  }
  