@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #343333;
  --foreground: #171717;
}
html,
body {
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground:white;
  }
}

@font-face {
  font-family: gilroy;
  src: url(../../public/fonts/Gilroy-Medium.otf);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, gilroy;
}
